@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Noto Sans', sans-serif;
}

.logInAnimation{
  animation-name: moveInBottom;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateX(-20rem);
  }

  70% {
    transform: translateX(3rem);
  }

  100% {
    opacity: 1;
    
  }
}

.textColor{
  color: black;
}

.card {
  margin-top: 30px;
  box-shadow: 4px 5px 25px 4px rgba(255, 255, 255, 0.098);
  transition: all 0.1s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 4px 10px 25px 8px rgba(254, 254, 254, 0.194);
}

.alignCenter {
  display: flex;
  justify-content: center;
}